.profilebody {
    display: grid;
    height: 120%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "profile";
    font-family: 'Bree Serif', serif;
}
* {
    font-family: 'Bree Serif', serif;
}
h1 {
    font-size: 1.85vw;
}
#country {
    font-size: 1.2vw;
    color: black;
    opacity: 35%;
}
#myinfo {
    font-size: 1.2vw;
}
h2{
    padding-left: 2%;
    font-size: 2.5vw;
}
#profile {
    grid-area: profile;
}

#content {
    grid-area: content;
    overflow: hidden;
}
.profile-con {
    text-align: center;
}
#pic {
    width: 100%;
    height: auto;
}
.profile-pic {
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 0%;
}
#myinfo {
    padding: 6%;
}

.morebutton {
    margin-bottom: 6%;
}
#jbuttonn {
    background-color: #FFF9B6;
    border: none;
    color: #FF9292;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1.1vw;
    
}
hr {
    width: 75%;
    background-color: rgb(78, 78, 78);
}

#contactt {
    color: black;
    opacity: 35%;
    font-size: 1.2vw;
}
#social {
    color: black;
    opacity: 35%;
    font-size: 1.2vw;
}
#email {
    font-size: 1vw;
}
.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "media1 media2 media3 media4";
    grid-gap: 1rem;
    text-align: center;
    margin-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
}
#media1 {
    grid-area: media1;
}
#media2 {
    grid-area: media2;
}
#media3 {
    grid-area: media3;
}
#media4 {
    grid-area: media4;
}
#facebook {
    width: 100%;
    height: 100%;
    
}
#instagram {
    width: 100%;
    height: 100%;
}
#twitter {
    width: 100%;
    height: 100%;
}
#youtube {
    width: 100%;
    height: 100%;
}
